@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-bg {
  background: rgb(28, 22, 69);
  background: linear-gradient(90deg, rgba(28, 22, 69, 1) 0%, rgba(10, 3, 24, 1) 50%);
}

.dropdown-bg {
  background: rgb(29, 23, 70);
  background: linear-gradient(90deg, rgba(29, 23, 70, 1) 0%, rgba(41, 36, 101, 1) 80%);
}

.text-white {
  color: #f2f3d7
}